cloth.kz.danke.user.service.service/target/**
**/target

cloth.kz.danke.user.service.service/.idea/

cloth.kz.danke.user.service.service/*.iml

service_compose/rabbitmq/data/**
service_compose/rabbitmq/logs/**
service_compose/rabbitmq/etc/**

.idea

*.iml